<!--this is actually xml not html-->

<!DOCTYPE html>
<!--this (below) tells intellij this is an xml file-->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<form action='/hello' method='post'>
    <input type='text' name='name'>
    <select name='language'>
        <option value=''>Choose a Language</option>
        <option value='En'>English</option>
        <option value='Fr'>French</option>
        <option value='Es'>Spanish</option>
        <option value='Ru'>Russian</option>
        <option value='Ua'>Ukrainian</option>
        </select>
    <input type='submit' value='Greet me!'/>
    </form>

</body>
</html>

